@import "tailwindcss";

:root {
  --background: #ffffff;
  --theme: #412a2a; /* 앱 테마색 */
  --theme-gray: #808080;
  --loading: #d9d9d9;
  --theme-red: #cc2929;
}

@theme {
  --color-background: var(--background);
  --color-theme: var(--theme);
  --color-theme-gray: var(--theme-gray);
  --color-theme-red: var(--theme-red);
  --color-loading: var(--loading);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: #000;
  /* font-family: Arial, Helvetica, sans-serif; */
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input:focus {
  outline-color: var(--color-theme);
}